@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model IEnumerable<WebProje.Entities.Kiralama>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProje</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProje.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="~/js/Dil.js"></script>
</head>

<body>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <br/>
            <h4 key="19"> Kiralanan Araçlar </h4>

            @if (TempData["iade"] is not null)
            {
                <div style="color:palevioletred">@TempData["iade"]</div>
            }

            <table class="table">
                <thead>
                    <tr>
                        <th key="20">
                            Araç Id
                        </th>
                        <th key="15">
                            Marka
                        </th>
                        <th>
                            Model
                        </th>
                      
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.aracId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.aracAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.aracModeli)
                            </td>
                            
                          
                            <td class="text-center">
                                @Html.ActionLink("İade", "Iade", new { id = item.id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



                <div row>

                    <a key="21" id="" class="btn btn-primary " asp-area="" asp-controller="Home" asp-action="Index">Geri Dön</a>

                </div>
            

        </div>
        <div class="col-2"></div>

    </div>




</body>
