@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<WebProje.Entities.Arac>
@section Resim{

        <div id="sectionresimtekne">
            <div id="sectionyazi">
                TEKNELER

            </div>
        </div>


}

<div id="body">
    <div class="row">

        @foreach (var item in Model)
        {
            <div id="araclist" class="col-xl-6 col-sm-12 ">
                <div id="arac">
                    <div>
                        <a asp-area="" asp-route-id="@item.id" asp-controller="Araclar" asp-action="Detay"><img id="aracresmi" src="@item.aracResmi" class="" alt="..."></a>
                        <div class="row text-start">
                            <div class="col-4"></div>
                            <div class="col-2">@Html.DisplayNameFor(model => model.marka)</div>  :
                            <div class="col-2">@Html.DisplayFor(model => item.marka)</div>

                        </div>
                        <div class="row text-start">
                            <div class="col-4"></div>
                            <div class="col-2">@Html.DisplayNameFor(model => model.model)</div>  :
                            <div class="col-2">@Html.DisplayFor(model => item.model)</div>

                        </div>
                        <div class="row text-start">
                            <div class="col-4"></div>
                            <div class="col-2">@Html.DisplayNameFor(model => model.yil)</div>  :
                            <div class="col-2">@Html.DisplayFor(model => item.yil)</div>

                        </div>
                        <div class="row text-start">
                            <div class="col-4"></div>
                            <div class="col-2">@Html.DisplayNameFor(model => model.renk)</div>  :
                            <div class="col-2">@Html.DisplayFor(model => item.renk)</div>

                        </div>
                        <div class="row text-start text-center">
                            <div class="col-4"></div>
                            <div class="btn btn-success col-4 ">@Html.ActionLink("Kirala", "Detay", new {  id=item.id })</div>



                        </div>

                    </div>


                </div>
            </div>
        }



    </div>
</div>


